# Environment variables
.env

# Python virtual environments
venv/
venv_dbt/
env/
ENV/
*.venv

# Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Local data & databases
local_data/
warehouse/*.duckdb
warehouse/*.duckdb.wal

# dbt artifacts
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# IDE / OS files
.DS_Store
.vscode/
*.swp
*.swo
